
.table-product thead td{
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.boxRightCart{
    padding: 25px;
    border: 1px solid #ccc;
    line-height: 35px;
}

.form-group{
    padding-bottom: 15px;
}
.table-product tbody tr td{
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
}