
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    padding-bottom: 70px;
}
.carousel {
    z-index: 1;
}

body{
    position: relative;
}

.body{
    max-width: 100%;
}
.list-products{
    max-width: 95%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
.title-list{
    padding-bottom: 20px;
    padding-top: 20px;
}
.title-list > a{
    text-decoration: none;
    color: #252A2B;
    font-size: 28px;
    font-weight: 700;
}
/* Sản phẩm */
.products{
    display: flex;
    flex-wrap: wrap !important;
}
 .product{
    display: flex;
    justify-content: center;
    padding-right: 10px;

}
 .product .card{
    border: none;
}
 .product .card:hover{
    border: 1px solid #ccc;
    transform: scale(1.1);
}
 .product .card:hover .card-body-2{
    opacity: 1;
}
 .product .card .card-body{
    text-align: center;
}
 .product .card .card-body h6{
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    font-size: 15px;
}
 .product .card .card-body h5{
    font-size: 13px;
    font-weight: bold;
    padding-top: 5px;
}
 .product .card .card-body-2{
    background-color: black;
    display: flex;
    justify-content: center;
    opacity: 0;
}
 .product .card .card-body-2 > a{
    display: flex;
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding-top: 3px;
}
 .product .card .card-body-2 > a > i{
     padding-top: 1px;
    font-size: 12px;
}
 .product .card .card-body-2 > a > h6{
    font-size: 12px;
    padding-left: 5px;
}

.product .card .card-body-2 > button{
    display: flex;
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding-top: 3px;
}
 .product .card .card-body-2 > button > i{
     padding-top: 1px;
    font-size: 12px;
}
 .product .card .card-body-2 > button > h6{
    font-size: 12px;
    padding-left: 5px;
}

 .product .card .card-body-2 > h4{
    color: #fff;
}

@media all and (max-width: 768px){
    .body .list-products .list-product .title-list a{
        font-size: 20px !important;
    }
}

.MultiCarousel
{
    float: left;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    position:relative; }
.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding:0px;
    margin:15px;
    background:#f1f1f1
}
.MultiCarousel button {
     position:absolute;
     border-radius:50%;
     top:calc(50% - 40px);
}

.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
